[Desktop Entry]
Version=1.0
Type=Application
Exec=roadmeet %f
Icon=metarace_icon.svg
Terminal=false
StartupNotify=true
MimeType=inode/directory;application/json;
Name=Roadmeet
Comment=Timing and results for road cycling meets
Categories=Utility;GTK;Sports;
Actions=Config;

[Desktop Action Config]
Exec=roadmeet --edit-default
Name=Edit Meet Defaults
Icon=preferences-system
